<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationTests" >
    <test name="ChromeTests">
        <classes>
         <!--    <class name="LaunchTest">
                <methods>
                    <include name="launchTest"/>
                    <include name="testGmailClick"/>
                </methods>
            </class> -->
            <class name="Fluent" />
			<class name="company.LaunchTest" />
			<class name="CrossB.CrossBrowserTest" />
			<class name="NewTest" />
      
            
        </classes>
    </test>
</suite>
